@media only screen and (min-width: 1024px ) {

body{background-color: grey;
margin: auto auto;}

  header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
    max-width: 1600px; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */

  }
main.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

img:hover {box-shadow: 5px 5px 10px gray;}
figcaption{ display: block;}

  }
