@media only screen and (min-width: 1024px ) {

body{
    margin: auto auto;
    }

header, nav, main, footer { 
    max-width: 1600px; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
    }

button {
    display: none;
    }  

nav ul.hide {
    display: block;
    }

nav ul li {
    display: inline-flex;
    }

nav ul li a {
  border: none;
  border-right: 1px solid rgba(0,0,0,.5);
  padding: 1rem;
    }
    
header .logo{
        margin: .5em;
    }
    
}    

