@media only screen and (min-width: 600px) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */

    nav button {display: none;}  /* hamburger button does not need to be shown in the medium on up views */

    nav ul.hide {display: block;}

    nav ul li {display: inline;
    float: left;
  }

    nav ul li a{
      border: none;
      border-right: 1px solid rgba(0,0,0,.5);
      padding: 1rem;
    }

    section.forecast{ display: block;

    }

    table{}

    thead{}

      th{padding: .8em;
        background-color: gray;}

    tbody{}

      td{
        background-color: whitesmoke;
      }

    body{
      max-width: 1024px;
    }

  }
