/* This main css file contains the default rules and is geared toward the small/phone view */

* {
  box-sizing: border-box;
  border: 1px solid gray;
  } /*  This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 1em;

    font-family: 'Fira Sans', sans-serif;

}

h1, h2, h3, h4, h5, h6{
  font-family: 'Knewave', cursive;
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  max-width: 600px; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header {
  display: flex;
  justify-content: space-between;
    align-items: center;
}
button {
  font-size: 1.5em;
  background-color: transparent;
  border: none;
  margin: .2em 2%;
}
.headings{
  text-align: center;
    flex-grow: 2;

}
header h1 {

}
header h3 {


}
header .logo{
    width: 15%;

}
.logo img{
  width: 100%;
}
header .subheading {}


nav {
  width: 100%;
  border: 2px solid darkblue;

}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul.hide{
  display: none;
}
nav ul li {}
nav ul li a {
  display: block;
  text-decoration: none;

}
nav ul li.active a {

}
nav ul li a:hover {

}

main {
}
main.gallery{
  display: grid;
  grid-column: 1;
}
main h2 {}
main figure {}
main figure img {

}
figcaption{
}


form{

}
label{

}
input{

}
div#range{

}
.radio{

}
div.radio input{

}
textarea{

}
#button{
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a9e4f7+0,0fb4e7+100;Ble+3D+%235 */
  background: #a9e4f7; /* Old browsers */
  background: -moz-linear-gradient(top, #a9e4f7 0%, #0fb4e7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a9e4f7 0%,#0fb4e7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a9e4f7 0%,#0fb4e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 ); /* IE6-9 */
    margin-bottom: 3em;
}

article{

}
article img {

}

footer {
  text-align: center;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}
