/* This main css file contains the default rules and is geared toward the small/phone view */

* {
  box-sizing: border-box;
  } /*  This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 1em;
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Knewave', cursive;
}
h3{
  margin: 0;
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  max-width: 600px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  text-decoration: none;
  color: #205D89
}
button {
  font-size: 2em;
  background-color: transparent;
  border: none;
  margin: .2em 2%;
  color: #205D89;
}
header .logo{
    width: 12%;
}
.logo img{
  width: 100%;
}
header .subheading {}


nav {
  width: 100%;

}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #205D89;
}
nav ul.hide{
  display: none;
}
nav ul li {}
nav ul li a {
  display: block;
  text-decoration: none;
  color: lightgray;
  font-size: 1.5em;
  padding: .2em;
}
nav ul li.active a {
  background-color: #F4913C;
  color: #205D89;
}
nav ul li a:hover {
  background-color: #FED313;
  color: #205D89;

}

main {
  width: 100%;
}
main section p, form, .p, #table {
  border: 10px solid #205D89;
  padding: .5em;
}
#table{
  margin-top: 1em;
  margin-bottom: 1em;
}
form {
  display: flex;
  flex-direction: column;
}
form * {
  margin-left: .5em;
  margin-right: .5em;
}
input {
  height: 30px;
  margin-bottom: 10px;
}
#button {
  width: 200px;
  height: 30px;
  margin-top: 10px;
  background-color: #F4913C;
  font-weight: bold;
  font-size: 1em;
  font-family: 'Fira Sans', sans-serif;
}
#button:hover {
  background-color: #FED313;
}

main div{
  position: relative;
  width: 100%;
}
main div img{
  min-width: 100%;
  max-width: 100%;

}
main div h2{
  color: white;
  position: absolute;
  bottom: 0;
  left: 10%;
  text-shadow: 1px 1px 2px black;
}



footer {
  text-align: center;
  background-color: #205D89;
  color: lightgray;
  width: 100%;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}
